
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Password Details</h5>

      <p class="card-text">
        <strong>Website:</strong>
        <%= password.website %>
      </p>

      <p class="card-text">
        <strong>Username:</strong>
        <%= password.username %>
      </p>

      <p class="card-text">
        <strong>Password:</strong>
        <%= password.password %>
      </p>
    </div>
  </div>
