<div id="<%= dom_id password %>">
  <p>
    <strong>Website:</strong>
    <%= password.website %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= password.username %>
  </p>
  
  <p>
    <strong>Password:</strong>
    <%= password.password %>
  </p>

</div>


  