<%= stylesheet_link_tag 'passwords', media: 'all' %>
<h1 class=header>New password</h1>
<h2 class=header>Leave password blank to generate random strong password.</h2>
<%= render "form", password: @password %>

<br>

<div>
  <%= link_to "Back to passwords", passwords_path %>
</div>
