.passwords {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }
  
  .card {
    max-width: 400px; 
    width: 100%;
    text-align: left; 
  }
  
  .card-title {
    text-align: center; 
  }
  
  .card-body {
    padding: 20px; 
  }
  
  .card-text {
    margin-bottom: 10px;
  }

 